@model Capp.Models.Location

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CreatedBy)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.CreatedBy, new { @Value = "Sameer", @readonly = "Readonly" })
    @Html.ValidationMessageFor(model => model.CreatedBy)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, 2, 10, null)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LocationDate)
</div>
<div class="editor-field">
   @Html.TextBoxFor(model => model.LocationDate, new { @Value = DateTime.Now.ToShortDateString(), @readonly  = "Readonly" })
    @Html.ValidationMessageFor(model => model.LocationDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LocationName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LocationName)
    @Html.ValidationMessageFor(model => model.LocationName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Amount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Amount)
    @Html.ValidationMessageFor(model => model.Amount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TransactionBy)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.TransactionBy, new { @Value = "Cash" })
    @Html.ValidationMessageFor(model => model.TransactionBy)
</div>

